# **Taller #1 Modelos Dimensionales**
## Andres Felipe Hernandez Rojas

In [79]:
# Importar las librerias necesarias

import pandas as pd
import requests
import sqlite3

In [ ]:
# ===================================================================
# PASO 1: CONFIGURACI√ìN E INSTALACI√ìN DE LIBRER√çAS
# ===================================================================

import pandas as pd
import requests
import sqlite3

print("‚úÖ Librer√≠as importadas.")

# ===================================================================
# PASO 2: EXTRACCI√ìN (EXTRACT) DE LOS DATOS
# ===================================================================

# La plataforma datos.gov.co usa la API de Socrata. Podemos usarla para
# descargar los datos directamente, lo que es m√°s eficiente que bajar un CSV.
# Aumentamos el l√≠mite para traer m√°s filas (ajusta si es necesario).
api_url = "https://www.datos.gov.co/resource/nudc-7mev.json?$limit=50000"

print(f"üì• Extrayendo datos desde: {api_url}")

try:
    response = requests.get(api_url)
    response.raise_for_status()  # Lanza un error si la petici√≥n falla (ej: 404)
    data = response.json()
    df_raw = pd.DataFrame(data)
    print(f"‚úÖ ¬°Extracci√≥n exitosa! Se cargaron {len(df_raw)} filas.")
    display(df_raw.head())

except requests.exceptions.RequestException as e:
    print(f"‚ùå Error al extraer los datos: {e}")
    df_raw = pd.DataFrame() # Creamos un dataframe vac√≠o para evitar errores posteriores

except Exception as e:
    print(f"‚ùå Ocurri√≥ un error inesperado: {e}")
    df_raw = pd.DataFrame()

‚úÖ Librer√≠as importadas.
üì• Extrayendo datos desde: https://www.datos.gov.co/resource/nudc-7mev.json?$limit=50000
‚úÖ ¬°Extracci√≥n exitosa! Se cargaron 14585 filas.

,a_o,c_digo_municipio,municipio,c_digo_departamento,departamento,c_digo_etc,etc,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,...,reprobaci_n_primaria,reprobaci_n_secundaria,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,tama_o_promedio_de_grupo,sedes_conectadas_a_internet
0,2023,05004,Abriaqu√≠,05,Antioquia,3758,Antioquia (ETC),503,62.62,62.62,...,1.96,16.51,2.04,9.52,0,10.46,13.76,2.04,NaN,NaN
1,2023,95025,El Retorno,95,Guaviare,3830,Guaviare (ETC),4438,53.27,53.27,...,7.11,9.39,1.75,9.34,6.95,11.84,8.48,3.16,NaN,NaN
2,2023,95200,Miraflores,95,Guaviare,3830,Guaviare (ETC),2014,32.52,32.52,...,6.93,14.13,7.81,8.65,6.67,9.04,10.25,1.54,NaN,NaN
3,2023,97001,Mit√∫,97,Vaup√©s,3831,Vaup√©s (ETC),10986,59.57,59.57,...,4.04,8.33,4.6,16.18,7.75,21.04,13.84,7.18,NaN,NaN
4,2023,97161,Caruru,97,Vaup√©s,3831,Vaup√©s (ETC),1228,51.3,51.3,...,7.32,15.28,7.27,9.24,2.86,7.62,14.85,3.64,NaN,NaN

In [81]:
df_raw

,a_o,c_digo_municipio,municipio,c_digo_departamento,departamento,c_digo_etc,etc,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,...,reprobaci_n_primaria,reprobaci_n_secundaria,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,tama_o_promedio_de_grupo,sedes_conectadas_a_internet
0,2023,05004,Abriaqu√≠,05,Antioquia,3758,Antioquia (ETC),503,62.62,62.62,...,1.96,16.51,2.04,9.52,0,10.46,13.76,2.04,NaN,NaN
1,2023,95025,El Retorno,95,Guaviare,3830,Guaviare (ETC),4438,53.27,53.27,...,7.11,9.39,1.75,9.34,6.95,11.84,8.48,3.16,NaN,NaN
2,2023,95200,Miraflores,95,Guaviare,3830,Guaviare (ETC),2014,32.52,32.52,...,6.93,14.13,7.81,8.65,6.67,9.04,10.25,1.54,NaN,NaN
3,2023,97001,Mit√∫,97,Vaup√©s,3831,Vaup√©s (ETC),10986,59.57,59.57,...,4.04,8.33,4.6,16.18,7.75,21.04,13.84,7.18,NaN,NaN
4,2023,97161,Caruru,97,Vaup√©s,3831,Vaup√©s (ETC),1228,51.3,51.3,...,7.32,15.28,7.27,9.24,2.86,7.62,14.85,3.64,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14580,2011,5036,Angel√≥polis,5,Antioquia,3758,Antioquia (ETC),1707,78.85,78.9,...,3.61,9.5,7.32,0.71,0,0.7,1.08,0,19.57,100
14581,2011,5034,Andes,5,Antioquia,3758,Antioquia (ETC),10244,84.45,84.5,...,0.58,0.04,2.69,5.41,0.73,5.53,6.9,4.11,24.43,93.44
14582,2011,5031,Amalfi,5,Antioquia,3758,Antioquia (ETC),5552,97.71,97.7,...,0,0,0,NaN,0.83,NaN,9.93,4.47,20.01,53.45
14583,2011,5030,Amag√°,5,Antioquia,3758,Antioquia (ETC),6631,78.65,78.7,...,6.73,14.46,7.45,0.42,0,0.24,0.91,0,25.05,83.33
14584,2011,5021,Alejandr√≠a,5,Antioquia,3758,Antioquia (ETC),702,118.52,118.5,...,2.16,4.39,8.04,0.6,0,0.96,0,0,32.14,81.25

La base de datos contiene 14.585 registros y 41 variables relacionadas con estad√≠sticas educativas en Colombia para los niveles de preescolar, b√°sica y media, desagregadas por municipio y a√±o. Incluye informaci√≥n clave sobre cobertura educativa (como tasa de matriculaci√≥n, cobertura neta y bruta), eficiencia del sistema (tasas de aprobaci√≥n, reprobaci√≥n, repitencia y deserci√≥n) y aspectos de infraestructura como el tama√±o promedio de grupo y sedes con conexi√≥n a internet. Las variables geogr√°ficas (MUNICIPIO, DEPARTAMENTO, ETC) permiten realizar an√°lisis por regiones. Se identifican algunos valores faltantes importantes, especialmente en variables de infraestructura, que deber√°n ser tratados en an√°lisis posteriores.

In [82]:
# ===================================================================
# PASO 3: EXTRACCI√ìN BASE DIVIPOLA
# ===================================================================

print("üì• Extrayendo datos de DIVIPOLA desde su API...")

api_url_divipola = "https://www.datos.gov.co/resource/gdxc-w37w.json?$limit=2000"

try:
    response = requests.get(api_url_divipola)
    response.raise_for_status()
    data = response.json()
    df_divipola = pd.DataFrame(data)
    print(f"‚úÖ ¬°Base DIVIPOLA cargada! {len(df_divipola)} filas.")
except requests.exceptions.RequestException as e:
    print(f"‚ùå Error al extraer DIVIPOLA: {e}")
    df_divipola = pd.DataFrame()
except Exception as e:
    print(f"‚ùå Error inesperado: {e}")
    df_divipola = pd.DataFrame()

üì• Extrayendo datos de DIVIPOLA desde su API...
‚úÖ ¬°Base DIVIPOLA cargada! 1122 filas.

In [83]:
df_divipola

,cod_dpto,dpto,cod_mpio,nom_mpio,tipo_municipio,longitud,latitud
0,05,ANTIOQUIA,05001,MEDELL√çN,Municipio,"-75,581775","6,246631"
1,05,ANTIOQUIA,05002,ABEJORRAL,Municipio,"-75,428739","5,789315"
2,05,ANTIOQUIA,05004,ABRIAQU√ç,Municipio,"-76,064304","6,632282"
3,05,ANTIOQUIA,05021,ALEJANDR√çA,Municipio,"-75,141346","6,376061"
4,05,ANTIOQUIA,05030,AMAG√Å,Municipio,"-75,702188","6,038708"
...,...,...,...,...,...,...,...
1117,97,VAUP√âS,97889,YAVARAT√â,√Årea no municipalizada,"-69,203337","0,609142"
1118,99,VICHADA,99001,PUERTO CARRE√ëO,Municipio,"-67,487095","6,186636"
1119,99,VICHADA,99524,LA PRIMAVERA,Municipio,"-70,410515","5,486309"
1120,99,VICHADA,99624,SANTA ROSAL√çA,Municipio,"-70,859499","5,136393"
1121,99,VICHADA,99773,CUMARIBO,Municipio,"-69,795533","4,446352"

La base DIVIPOLA (Divisi√≥n Pol√≠tico-Administrativa de Colombia) es el sistema oficial del DANE que identifica y clasifica todos los niveles geogr√°ficos del pa√≠s. Contiene c√≥digos y nombres para departamentos, municipios, corregimientos, centros poblados y cabeceras municipales, permitiendo una estandarizaci√≥n geogr√°fica en bases de datos p√∫blicas. Cada municipio est√° representado por un c√≥digo √∫nico de seis d√≠gitos, donde los dos primeros identifican el departamento y los cuatro restantes el municipio.

Utilizaremos esta base de datos para hacer una de las dimensiones de nuestro modelo

## Limpieza de datos

In [84]:
pd.DataFrame(df_raw.columns.tolist(), columns=["Columnas originales"])

            Columnas originales
0                           a_o
1              c_digo_municipio
2                     municipio
3           c_digo_departamento
4                  departamento
5                    c_digo_etc
6                           etc
7                poblaci_n_5_16
8       tasa_matriculaci_n_5_16
9                cobertura_neta
10    cobertura_neta_transici_n
11      cobertura_neta_primaria
12    cobertura_neta_secundaria
13         cobertura_neta_media
14              cobertura_bruta
15   cobertura_bruta_transici_n
16     cobertura_bruta_primaria
17   cobertura_bruta_secundaria
18        cobertura_bruta_media
19                    deserci_n
20         deserci_n_transici_n
21           deserci_n_primaria
22         deserci_n_secundaria
23              deserci_n_media
24                   aprobaci_n
25        aprobaci_n_transici_n
26          aprobaci_n_primaria
27        aprobaci_n_secundaria
28             aprobaci_n_media
29                  reprobaci_n
30       reprobaci_n_transici_n
31         reprobaci_n_primaria
32       reprobaci_n_secundaria
33            reprobaci_n_media
34                   repitencia
35        repitencia_transici_n
36          repitencia_primaria
37        repitencia_secundaria
38             repitencia_media
39     tama_o_promedio_de_grupo
40  sedes_conectadas_a_internet

In [85]:
pd.read_sql_query("SELECT * FROM divipola_raw LIMIT 1;", conn).columns.tolist()

['cod_dpto',
 'dpto',
 'cod_mpio',
 'nom_mpio',
 'tipo_municipio',
 'longitud',
 'latitud']

In [ ]:
# --- LIMPIEZA BASE EDUCACI√ìN ---
# Normalizar nombres de columnas
df_raw.columns = df_raw.columns.str.strip().str.lower().str.replace(" ", "_")

# Convertir columnas num√©ricas (algunas vienen como string desde la API)
columnas_float = ['tasa_matriculaci√≥n_5_16', 'cobertura_neta']
for col in columnas_float:
    if col in df_raw.columns:
        df_raw[col] = pd.to_numeric(df_raw[col], errors='coerce')

# Convertir a√±o a entero
if 'a√±o' in df_raw.columns:
    df_raw['a√±o'] = pd.to_numeric(df_raw['a√±o'], errors='coerce', downcast='integer')

# --- LIMPIEZA BASE DIVIPOLA ---
# Normalizar columnas
df_divipola.columns = df_divipola.columns.str.strip().str.lower().str.replace(" ", "_")

# Renombrar columna conflictiva
if 'tipo:_municipio_/_isla_/_√°rea_no_municipalizada' in df_divipola.columns:
    df_divipola = df_divipola.rename(columns={
        'tipo:_municipio_/_isla_/_√°rea_no_municipalizada': 'tipo_municipio'
    })

# Corregir coordenadas (longitud y latitud)
if 'longitud' in df_divipola.columns:
    df_divipola['longitud'] = df_divipola['longitud'].str.replace(',', '.')
    df_divipola['longitud'] = pd.to_numeric(df_divipola['longitud'], errors='coerce')

if 'latitud' in df_divipola.columns:
    df_divipola['latitud'] = df_divipola['latitud'].str.replace(',', '.')
    df_divipola['latitud'] = pd.to_numeric(df_divipola['latitud'], errors='coerce')

‚úÖ Limpieza completada. Listo para modelado dimensional.

In [ ]:
import os
import sqlite3


# Crear conexi√≥n SQLite (archivo .db en la carpeta Datos)
conn = sqlite3.connect("../Datos/educacion.db")

# Guardar DataFrames como tablas SQL
df_raw.to_sql("educacion_raw", conn, if_exists="replace", index=False)
df_divipola.to_sql("divipola", conn, if_exists="replace", index=False)

print("üìÅ Tablas 'educacion_raw' y 'divipola' guardadas en SQLite.")

üìÅ Tablas 'educacion_raw' y 'divipola' guardadas en SQLite.

## Creaci√≥n de dimensiones

In [99]:
# Dimension de tiempo
# Eliminar si ya existe
conn.execute("DROP TABLE IF EXISTS dim_tiempo;")

# Crear la tabla usando el campo 'a_o'
query_dim_tiempo = """
CREATE TABLE dim_tiempo AS
SELECT 
    ROW_NUMBER() OVER () AS id_tiempo,
    a_o AS anio
FROM educacion_raw
GROUP BY a_o
ORDER BY a_o;
"""

conn.execute(query_dim_tiempo)

In [101]:
# Dimension de municipio
# Eliminar si ya existe
conn.execute("DROP TABLE IF EXISTS dim_municipio;")

# Crear tabla con los nombres correctos desde la API
query_dim_municipio = """
CREATE TABLE dim_municipio AS
SELECT 
    ROW_NUMBER() OVER () AS id_municipio,
    e.c_digo_municipio AS codigo_municipio,
    e.municipio,
    d.dpto AS nombre_departamento,
    d.tipo_municipio,
    d.longitud,
    d.latitud
FROM educacion_raw e
LEFT JOIN divipola d 
    ON e.c_digo_municipio = d.cod_mpio
GROUP BY e.c_digo_municipio, e.municipio;
"""

conn.execute(query_dim_municipio)

In [115]:
# Dimension de Departamento
# Eliminar si ya existe
conn.execute("DROP TABLE IF EXISTS dim_departamento;")

# Crear la tabla usando nombres correctos
query_dim_departamento = """
CREATE TABLE dim_departamento AS
SELECT 
    ROW_NUMBER() OVER () AS id_departamento,
    c_digo_departamento AS codigo_departamento,
    departamento
FROM educacion_raw
GROUP BY c_digo_departamento, departamento;
"""

conn.execute(query_dim_departamento)

## Tabla de hechos

In [116]:
# Eliminar si ya existe
conn.execute("DROP TABLE IF EXISTS hechos_educacion;")

# Crear tabla de hechos usando JOIN con dimensiones
query_hechos = """
CREATE TABLE hechos_educacion AS
SELECT 
    t.id_tiempo,
    m.id_municipio,
    d.id_departamento,
    e.tasa_matriculaci_n_5_16 AS tasa_matriculacion,
    e.cobertura_neta
FROM educacion_raw e
JOIN dim_tiempo t ON e.a_o = t.anio
JOIN dim_municipio m ON e.c_digo_municipio = m.codigo_municipio
JOIN dim_departamento d ON e.c_digo_departamento = d.codigo_departamento;
"""

conn.execute(query_hechos)

# Preguntas

## 1. Respecto a la poblaci√≥n del municipio ¬øQue porcentaje de escolaridad hay?

In [117]:
query_1 = """
SELECT 
    m.municipio,
    h.tasa_matriculacion
FROM hechos_educacion h
JOIN dim_municipio m ON h.id_municipio = m.id_municipio
ORDER BY h.tasa_matriculacion DESC;
"""

df_p1 = pd.read_sql(query_1, conn)
df_p1.head(10)

                     municipio tasa_matriculacion
0                         Ach√≠              99.98
1                  Villagarz√≥n              99.98
2                       Arauca              99.97
3                        Paipa              99.97
4  San Sebasti√°n de Buenavista              99.96
5                     Liborina              99.95
6             Palmar de Varela              99.95
7                  El Castillo              99.94
8                    Tocancip√°              99.94
9                     Rionegro              99.93

## 2. ¬øC√≥mo comparar√≠a el rendimiento educativo por municipios?

In [119]:
query_2 = """
SELECT 
    m.municipio,
    ROUND(AVG(e.aprobaci_n), 2) AS promedio_aprobacion,
    ROUND(AVG(e.reprobaci_n), 2) AS promedio_reprobacion,
    ROUND(AVG(e.deserci_n), 2) AS promedio_desercion
FROM educacion_raw e
JOIN dim_municipio m ON e.c_digo_municipio = m.codigo_municipio
GROUP BY m.municipio
ORDER BY promedio_aprobacion DESC
LIMIT 10;
"""

df_p2 = pd.read_sql(query_2, conn)
df_p2

,municipio,promedio_aprobacion,promedio_reprobacion,promedio_desercion
0,Puerto Arica,98.97,0.03,1.31
1,Tibirita,98.42,0.43,1.16
2,La Palma,98.28,0.20,1.52
3,Guatavita,98.27,0.27,1.45
4,Miriti - Paran√°,98.21,0.35,1.70
5,Chaguan√≠,98.19,0.16,1.65
6,Pupiales,98.10,0.67,1.23
7,Sutatausa,97.96,0.11,1.93
8,Aguada,97.72,0.90,1.39
9,Jun√≠n,97.68,0.98,1.34

## 3. ¬øQue departamentos son los que mejor cobertura tienen? ¬øPueden hacer c√°lculo con SQL?

In [128]:
query_cobertura_ponderada_fix = """
SELECT 
    d.departamento,
    ROUND(
        SUM(e.cobertura_neta * e.poblaci_n_5_16) / SUM(e.poblaci_n_5_16), 3
    ) || ' %' AS cobertura_neta_ponderada
FROM educacion_raw e
JOIN dim_departamento d ON e.c_digo_departamento = d.codigo_departamento
WHERE e.cobertura_neta IS NOT NULL AND e.poblaci_n_5_16 > 0
GROUP BY d.departamento
ORDER BY cobertura_neta_ponderada DESC
LIMIT 20;
"""

df_resultado = pd.read_sql_query(query_cobertura_ponderada_fix, conn)
df_resultado

          departamento cobertura_neta_ponderada
0             Casanare                 96.974 %
1                Sucre                 95.383 %
2            Santander                 94.022 %
3            Magdalena                 93.709 %
4              Bol√≠var                 93.511 %
5            Risaralda                 92.527 %
6         Cundinamarca                 92.222 %
7                 Meta                 92.093 %
8                Cesar                 91.978 %
9            Antioquia                 91.238 %
10              Tolima                 91.217 %
11           Atl√°ntico                 91.027 %
12             C√≥rdoba                 90.807 %
13               Huila                 90.007 %
14  Norte de Santander                 89.228 %
15              Boyac√°                 89.021 %
16        Bogot√°, D.C.                 88.626 %
17         Bogot√° D.C.                 88.626 %
18             Quindio                 88.441 %
19          La Guajira                  84.43 %