In [10]:
import pandas as pd
import requests
import sqlite3

# Crear/conectar la base de datos SQLite
conn = sqlite3.connect("Datos/educacion_dw.db")
cursor = conn.cursor()

print("‚úÖ Librer√≠as listas y conexi√≥n establecida.")

OperationalError: unable to open database file

In [7]:
url_matriculas = "https://www.datos.gov.co/resource/nudc-7mev.json?$limit=50000"

response = requests.get(url_matriculas)
response.raise_for_status()

df_raw = pd.DataFrame(response.json())
print(f"‚úÖ Datos extra√≠dos: {len(df_raw)} registros")
display(df_raw.head())

‚úÖ Datos extra√≠dos: 14585 registros

,a_o,c_digo_municipio,municipio,c_digo_departamento,departamento,c_digo_etc,etc,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,...,reprobaci_n_primaria,reprobaci_n_secundaria,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,tama_o_promedio_de_grupo,sedes_conectadas_a_internet
0,2023,05004,Abriaqu√≠,05,Antioquia,3758,Antioquia (ETC),503,62.62,62.62,...,1.96,16.51,2.04,9.52,0,10.46,13.76,2.04,NaN,NaN
1,2023,95025,El Retorno,95,Guaviare,3830,Guaviare (ETC),4438,53.27,53.27,...,7.11,9.39,1.75,9.34,6.95,11.84,8.48,3.16,NaN,NaN
2,2023,95200,Miraflores,95,Guaviare,3830,Guaviare (ETC),2014,32.52,32.52,...,6.93,14.13,7.81,8.65,6.67,9.04,10.25,1.54,NaN,NaN
3,2023,97001,Mit√∫,97,Vaup√©s,3831,Vaup√©s (ETC),10986,59.57,59.57,...,4.04,8.33,4.6,16.18,7.75,21.04,13.84,7.18,NaN,NaN
4,2023,97161,Caruru,97,Vaup√©s,3831,Vaup√©s (ETC),1228,51.3,51.3,...,7.32,15.28,7.27,9.24,2.86,7.62,14.85,3.64,NaN,NaN

In [8]:
url_municipios = "https://www.datos.gov.co/resource/gdxc-w37w.json?$limit=5000"

response_dane = requests.get(url_municipios)
response_dane.raise_for_status()

df_municipios = pd.DataFrame(response_dane.json())
print(f"‚úÖ Municipios cargados: {len(df_municipios)} registros")
display(df_municipios.head())

‚úÖ Municipios cargados: 1122 registros

,cod_dpto,dpto,cod_mpio,nom_mpio,tipo_municipio,longitud,latitud
0,05,ANTIOQUIA,05001,MEDELL√çN,Municipio,"-75,581775","6,246631"
1,05,ANTIOQUIA,05002,ABEJORRAL,Municipio,"-75,428739","5,789315"
2,05,ANTIOQUIA,05004,ABRIAQU√ç,Municipio,"-76,064304","6,632282"
3,05,ANTIOQUIA,05021,ALEJANDR√çA,Municipio,"-75,141346","6,376061"
4,05,ANTIOQUIA,05030,AMAG√Å,Municipio,"-75,702188","6,038708"

In [11]:
import sqlite3

# Conexi√≥n a la base de datos en ruta absoluta
conn = sqlite3.connect(r"C:\DIPLOMADO\Datos\educacion_dw.db")
cursor = conn.cursor()

print("‚úÖ Conexi√≥n establecida con la base de datos.")

‚úÖ Conexi√≥n establecida con la base de datos.

In [12]:
import pandas as pd
import requests

# URL del conjunto de datos de matr√≠culas
url_matriculas = "https://www.datos.gov.co/resource/nudc-7mev.json?$limit=50000"

# Descarga y conversi√≥n a DataFrame
response = requests.get(url_matriculas)
response.raise_for_status()

df_raw = pd.DataFrame(response.json())
print(f"‚úÖ Datos extra√≠dos: {len(df_raw)} registros")
display(df_raw.head())

‚úÖ Datos extra√≠dos: 14585 registros

,a_o,c_digo_municipio,municipio,c_digo_departamento,departamento,c_digo_etc,etc,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,...,reprobaci_n_primaria,reprobaci_n_secundaria,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,tama_o_promedio_de_grupo,sedes_conectadas_a_internet
0,2023,05004,Abriaqu√≠,05,Antioquia,3758,Antioquia (ETC),503,62.62,62.62,...,1.96,16.51,2.04,9.52,0,10.46,13.76,2.04,NaN,NaN
1,2023,95025,El Retorno,95,Guaviare,3830,Guaviare (ETC),4438,53.27,53.27,...,7.11,9.39,1.75,9.34,6.95,11.84,8.48,3.16,NaN,NaN
2,2023,95200,Miraflores,95,Guaviare,3830,Guaviare (ETC),2014,32.52,32.52,...,6.93,14.13,7.81,8.65,6.67,9.04,10.25,1.54,NaN,NaN
3,2023,97001,Mit√∫,97,Vaup√©s,3831,Vaup√©s (ETC),10986,59.57,59.57,...,4.04,8.33,4.6,16.18,7.75,21.04,13.84,7.18,NaN,NaN
4,2023,97161,Caruru,97,Vaup√©s,3831,Vaup√©s (ETC),1228,51.3,51.3,...,7.32,15.28,7.27,9.24,2.86,7.62,14.85,3.64,NaN,NaN

In [13]:
# URL del conjunto de municipios con c√≥digo DANE
url_municipios = "https://www.datos.gov.co/resource/gdxc-w37w.json?$limit=5000"

# Descarga y conversi√≥n a DataFrame
response_dane = requests.get(url_municipios)
response_dane.raise_for_status()

df_municipios = pd.DataFrame(response_dane.json())
print(f"‚úÖ Municipios cargados: {len(df_municipios)} registros")
display(df_municipios.head())

‚úÖ Municipios cargados: 1122 registros

,cod_dpto,dpto,cod_mpio,nom_mpio,tipo_municipio,longitud,latitud
0,05,ANTIOQUIA,05001,MEDELL√çN,Municipio,"-75,581775","6,246631"
1,05,ANTIOQUIA,05002,ABEJORRAL,Municipio,"-75,428739","5,789315"
2,05,ANTIOQUIA,05004,ABRIAQU√ç,Municipio,"-76,064304","6,632282"
3,05,ANTIOQUIA,05021,ALEJANDR√çA,Municipio,"-75,141346","6,376061"
4,05,ANTIOQUIA,05030,AMAG√Å,Municipio,"-75,702188","6,038708"

In [14]:
# Copias limpias
df_raw_limpio = df_raw.copy()
df_municipios_limpio = df_municipios.copy()

# Funci√≥n de normalizaci√≥n
def normalizar_texto(col):
    return (
        col.str.strip()
           .str.lower()
           .str.normalize("NFKD")
           .str.encode("ascii", errors="ignore")
           .str.decode("utf-8")
    )

# Normalizar columnas en df_raw
df_raw_limpio["municipio"] = normalizar_texto(df_raw_limpio["municipio"])
df_raw_limpio["departamento"] = normalizar_texto(df_raw_limpio["departamento"])

# Normalizar columnas en df_municipios
df_municipios_limpio["nom_mpio"] = normalizar_texto(df_municipios_limpio["nom_mpio"])
df_municipios_limpio["dpto"] = normalizar_texto(df_municipios_limpio["dpto"])

In [15]:
# Uni√≥n de los datos educativos con los c√≥digos oficiales del DANE
df_integrado = pd.merge(
    df_raw_limpio,
    df_municipios_limpio,
    left_on=["departamento", "municipio"],
    right_on=["dpto", "nom_mpio"],
    how="left"
)

# Verificamos si hubo empates exitosos
print(f"üîó Filas unidas: {df_integrado['cod_mpio'].notnull().sum()} de {len(df_integrado)}")
display(df_integrado[["departamento", "municipio", "cod_dpto", "cod_mpio"]].head())

üîó Filas unidas: 14219 de 14585

  departamento   municipio cod_dpto cod_mpio
0    antioquia    abriaqui       05    05004
1     guaviare  el retorno       95    95025
2     guaviare  miraflores       95    95200
3       vaupes        mitu       97    97001
4       vaupes      caruru       97    97161

In [16]:
# ===================== LIBRER√çAS =====================
import pandas as pd
import requests

# ===================== DESCARGA DE DATOS =====================
url = "https://www.datos.gov.co/resource/nudc-7mev.json?$limit=50000"

response = requests.get(url)
df_raw = pd.DataFrame(response.json())

# ===================== VERIFICACI√ìN =====================
print("‚úÖ Datos descargados correctamente.")
print(f"N√∫mero de filas: {df_raw.shape[0]}")
print(f"N√∫mero de columnas: {df_raw.shape[1]}")
print("\nColumnas:")
print(df_raw.columns.tolist())

df_raw.head()

‚úÖ Datos descargados correctamente.
N√∫mero de filas: 14585
N√∫mero de columnas: 41

Columnas:
['a_o', 'c_digo_municipio', 'municipio', 'c_digo_departamento', 'departamento', 'c_digo_etc', 'etc', 'poblaci_n_5_16', 'tasa_matriculaci_n_5_16', 'cobertura_neta', 'cobertura_neta_transici_n', 'cobertura_neta_primaria', 'cobertura_neta_secundaria', 'cobertura_neta_media', 'cobertura_bruta', 'cobertura_bruta_transici_n', 'cobertura_bruta_primaria', 'cobertura_bruta_secundaria', 'cobertura_bruta_media', 'deserci_n', 'deserci_n_transici_n', 'deserci_n_primaria', 'deserci_n_secundaria', 'deserci_n_media', 'aprobaci_n', 'aprobaci_n_transici_n', 'aprobaci_n_primaria', 'aprobaci_n_secundaria', 'aprobaci_n_media', 'reprobaci_n', 'reprobaci_n_transici_n', 'reprobaci_n_primaria', 'reprobaci_n_secundaria', 'reprobaci_n_media', 'repitencia', 'repitencia_transici_n', 'repitencia_primaria', 'repitencia_secundaria', 'repitencia_media', 'tama_o_promedio_de_grupo', 'sedes_conectadas_a_internet']

,a_o,c_digo_municipio,municipio,c_digo_departamento,departamento,c_digo_etc,etc,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,...,reprobaci_n_primaria,reprobaci_n_secundaria,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,tama_o_promedio_de_grupo,sedes_conectadas_a_internet
0,2023,05004,Abriaqu√≠,05,Antioquia,3758,Antioquia (ETC),503,62.62,62.62,...,1.96,16.51,2.04,9.52,0,10.46,13.76,2.04,NaN,NaN
1,2023,95025,El Retorno,95,Guaviare,3830,Guaviare (ETC),4438,53.27,53.27,...,7.11,9.39,1.75,9.34,6.95,11.84,8.48,3.16,NaN,NaN
2,2023,95200,Miraflores,95,Guaviare,3830,Guaviare (ETC),2014,32.52,32.52,...,6.93,14.13,7.81,8.65,6.67,9.04,10.25,1.54,NaN,NaN
3,2023,97001,Mit√∫,97,Vaup√©s,3831,Vaup√©s (ETC),10986,59.57,59.57,...,4.04,8.33,4.6,16.18,7.75,21.04,13.84,7.18,NaN,NaN
4,2023,97161,Caruru,97,Vaup√©s,3831,Vaup√©s (ETC),1228,51.3,51.3,...,7.32,15.28,7.27,9.24,2.86,7.62,14.85,3.64,NaN,NaN

In [17]:
import sqlite3

# Ruta a la base de datos (ajusta si es necesario)
ruta_db = r"C:\DIPLOMADO\Datos\educacion_dw.db"

# Crear conexi√≥n
conn = sqlite3.connect(ruta_db)
cursor = conn.cursor()

print("‚úÖ Conexi√≥n establecida.")

‚úÖ Conexi√≥n establecida.

In [19]:
# Borrar si ya existe
conn.execute("DROP TABLE IF EXISTS Dim_Tiempo;")

# Crear tabla de dimensi√≥n de tiempo
query = """
CREATE TABLE Dim_Tiempo AS
SELECT 
    ROW_NUMBER() OVER (ORDER BY ano) AS id_tiempo,
    ano
FROM (
    SELECT DISTINCT ano
    FROM df_limpio
);
"""

conn.execute(query)
conn.commit()
print("‚úÖ Dim_Tiempo creada correctamente con SQL")

# Mostrar contenido
df_tiempo = pd.read_sql_query("SELECT * FROM Dim_Tiempo", conn)
display(df_tiempo)

OperationalError: no such table: df_limpio

In [15]:
# Eliminar si existe
conn.execute("DROP TABLE IF EXISTS Dim_Departamento;")

# Crear dimensi√≥n departamento
query_dpto = """
CREATE TABLE Dim_Departamento AS
SELECT 
    ROW_NUMBER() OVER () AS id_departamento,
    cod_dpto,
    nom_dpto AS nombre_departamento
FROM (
    SELECT DISTINCT cod_dpto, nom_dpto
    FROM df_limpio
);
"""

conn.execute(query_dpto)
conn.commit()
print("‚úÖ Dim_Departamento creada correctamente.")

‚úÖ Dim_Departamento creada correctamente.

In [16]:
# Eliminar si existe
conn.execute("DROP TABLE IF EXISTS Dim_Municipio;")

# Crear dimensi√≥n municipio con FK a departamento
query_mpio = """
CREATE TABLE Dim_Municipio AS
SELECT 
    ROW_NUMBER() OVER () AS id_municipio,
    cod_mpio,
    nom_mpio AS nombre_municipio,
    cod_dpto  -- FK l√≥gica
FROM (
    SELECT DISTINCT cod_mpio, nom_mpio, cod_dpto
    FROM df_limpio
);
"""

conn.execute(query_mpio)
conn.commit()
print("‚úÖ Dim_Municipio creada correctamente.")

‚úÖ Dim_Municipio creada correctamente.

In [17]:
# üßΩ Eliminar si ya existe
conn.execute("DROP TABLE IF EXISTS Hechos_Educacion;")

# üìä Crear tabla de hechos
query = """
CREATE TABLE Hechos_Educacion AS
SELECT 
    t.id_tiempo,
    m.id_municipio,
    l.poblaci_n_5_16,
    l.tasa_matriculaci_n_5_16,
    l.cobertura_neta,
    l.aprobaci_n,
    l.reprobaci_n,
    l.repitencia,
    l.deserci_n
FROM df_limpio l
JOIN Dim_Tiempo t ON l.ano = t.ano
JOIN Dim_Municipio m 
    ON l.cod_mpio = m.cod_mpio 
   AND l.cod_dpto = m.cod_dpto;
"""

conn.execute(query)
conn.commit()
print("‚úÖ Tabla Hechos_Educacion actualizada con id_municipio correctamente.")

‚úÖ Tabla Hechos_Educacion actualizada con id_municipio correctamente.

In [18]:
pd.read_sql_query("SELECT * FROM Hechos_Educacion LIMIT 10;", conn)

,id_tiempo,id_municipio,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,aprobaci_n,reprobaci_n,repitencia,deserci_n
0,13,1,503.0,62.62,62.62,92.26,6.55,9.52,1.19
1,13,2,4438.0,53.27,53.27,87.67,6.78,9.34,5.56
2,13,3,2014.0,32.52,32.52,82.68,9.47,8.65,7.85
3,13,4,10986.0,59.57,59.57,90.71,5.34,16.18,3.95
4,13,5,1228.0,51.30,51.30,82.40,9.24,9.24,8.36
5,13,6,1678.0,54.29,54.29,94.65,0.00,23.21,5.35
6,13,7,814.0,22.60,22.60,100.00,0.00,21.58,0.00
7,13,8,209.0,0.00,0.00,0.00,0.00,0.00,0.00
8,13,9,561.0,47.95,47.95,95.55,0.00,12.33,4.45
9,13,10,4641.0,144.52,144.52,80.93,13.26,11.18,5.81

In [19]:
query1 = """
SELECT 
    m.nombre_municipio AS nombre_municipio,
    m.cod_mpio AS codigo_municipio,
    h.poblaci_n_5_16,
    h.tasa_matriculaci_n_5_16,
    ROUND(h.tasa_matriculaci_n_5_16 * 100, 2) AS porcentaje_escolaridad
FROM Hechos_Educacion h
JOIN Dim_Municipio m ON h.id_municipio = m.id_municipio
ORDER BY porcentaje_escolaridad DESC;
"""

df_porcentaje_escolaridad = pd.read_sql_query(query1, conn)
df_porcentaje_escolaridad.head()

,nombre_municipio,codigo_municipio,poblaci_n_5_16,tasa_matriculaci_n_5_16,porcentaje_escolaridad
0,Puerto Colombia,8573,9689.0,279.03,27903.0
1,Puerto Colombia,8573,5115.0,273.80,27380.0
2,Puerto Colombia,8573,5229.0,266.50,26650.0
3,Cota,25214,5282.0,240.70,24070.0
4,Cota,25214,6322.0,239.34,23934.0

In [21]:
cursor.execute("PRAGMA table_info(Dim_Municipio);")
for col in cursor.fetchall():
    print(col)

(0, 'id_municipio', '', 0, None, 0)
(1, 'cod_mpio', 'TEXT', 0, None, 0)
(2, 'nombre_municipio', 'TEXT', 0, None, 0)
(3, 'cod_dpto', 'TEXT', 0, None, 0)

In [22]:
query_rendimiento = """
SELECT 
    m.nombre_municipio AS municipio,
    ROUND(AVG(h.aprobaci_n), 2) AS aprobacion_promedio,
    ROUND(AVG(h.reprobaci_n), 2) AS reprobacion_promedio
FROM Hechos_Educacion h
JOIN Dim_Municipio m ON h.id_municipio = m.id_municipio
GROUP BY m.nombre_municipio
ORDER BY aprobacion_promedio DESC, reprobacion_promedio ASC;
"""

df_rendimiento = pd.read_sql_query(query_rendimiento, conn)
display(df_rendimiento)

            municipio  aprobacion_promedio  reprobacion_promedio
0        Puerto Arica                98.97                  0.03
1            Tibirita                98.42                  0.43
2            La Palma                98.28                  0.20
3           Guatavita                98.27                  0.27
4     Miriti - Paran√°                98.21                  0.35
...               ...                  ...                   ...
1032          In√≠rida                77.08                 15.45
1033         Cacahual                75.37                 14.29
1034       Mapiripana                73.24                 17.80
1035         NACIONAL                 0.90                  0.07
1036         Papunaua                 0.00                  0.00

[1037 rows x 3 columns]

In [24]:
cursor.execute("PRAGMA table_info(Hechos_Educacion);")
for col in cursor.fetchall():
    print(col)

(0, 'id_tiempo', '', 0, None, 0)
(1, 'id_municipio', '', 0, None, 0)
(2, 'poblaci_n_5_16', 'REAL', 0, None, 0)
(3, 'tasa_matriculaci_n_5_16', 'REAL', 0, None, 0)
(4, 'cobertura_neta', 'REAL', 0, None, 0)
(5, 'aprobaci_n', 'REAL', 0, None, 0)
(6, 'reprobaci_n', 'REAL', 0, None, 0)
(7, 'repitencia', 'REAL', 0, None, 0)
(8, 'deserci_n', 'REAL', 0, None, 0)

In [25]:
query_cobertura = """
SELECT 
    d.nombre_departamento,
    ROUND(AVG(h.cobertura_neta), 2) AS cobertura_promedio
FROM Hechos_Educacion h
JOIN Dim_Municipio m ON h.id_municipio = m.id_municipio
JOIN Dim_Departamento d ON m.cod_dpto = d.cod_dpto
GROUP BY d.nombre_departamento
ORDER BY cobertura_promedio DESC;
"""

df_cobertura = pd.read_sql_query(query_cobertura, conn)
display(df_cobertura)

                                  nombre_departamento  cobertura_promedio
0                                             Quindio               94.58
1                                               Sucre               93.85
2                                               Cesar               93.76
3                                           Magdalena               93.28
4                                                Meta               90.74
5                                        Bogot√°, D.C.               89.49
6                                         Bogot√° D.C.               89.49
7                                              Tolima               89.24
8                                            Casanare               88.57
9                                        Cundinamarca               88.56
10                                          Antioquia               88.10
11                                            C√≥rdoba               88.06
12                                          Atl√°ntico               87.59
13                                            Bol√≠var               87.48
14                                          Santander               87.08
15                                              Huila               86.46
16                                          Risaralda               86.10
17                                             Boyac√°               84.53
18                                             Caldas               84.11
19                                 Norte de Santander               83.67
20                                    Valle del Cauca               83.25
21                                             Arauca               82.41
22  Archipi√©lago de San Andr√©s. Providencia y Sant...               82.22
23  Archipi√©lago de San Andr√©s, Providencia y Sant...               82.22
24                                         La Guajira               81.73
25                                           Putumayo               80.81
26                                              Choc√≥               80.76
27                                            Vichada               80.67
28                                              Cauca               79.49
29                                             Nari√±o               77.98
30                                            Caquet√°               77.63
31                                            Guain√≠a               62.99
32                                           Guaviare               61.72
33                                           Amazonas               61.01
34                                             Vaup√©s               57.27
35                                           NACIONAL                0.92